/ app/views/admin/sites/show.html.slim

h1 User Site Info

h2 name
p = @site.name

h2 description
p = @site.description

h2 hero image
- if @site.hero_image.attached?
  = image_tag @site.hero_image
- else
  p no hero image

p = link_to 'Edit', edit_admin_site_path(current_user)
p = link_to 'Back', admin_dashboards_path
