/ app/views/admin/dashboards/index.html.slim

= render 'shared/header'

h1 Dashboard

p Logged in user: #{current_user.name}

/ ユーザー管理
/ 自分のユーザー情報を確認する
h2 User Info
= link_to 'User Info', admin_user_path(current_user)

/ Webサイト管理
h2 Websites Info
= link_to 'UserSite Info', admin_user_site_path(current_user)

/ ブログ機能 管理
h2 Blogs
= link_to 'Blog List', admin_blogs_path

/ 写真ポートフォリオ
h2 Photograph Portfolio
  / まだ開発しない
