/ app/views/layouts/_footer.html.slim

footer.footer.flex.justify-center.items-center.p-10.bg-primary.text-base-content
  .aside
    p.text-center = "Copyright © #{Time.now.year} #{@user.name}. All rights reserved."
